.AdminSideBar{
    height: 100%;
    width: 20%;
    background-color: var(--blue-backgrounds);
    color: var(--white-text-color);
    position: relative;
    overflow-x: hidden;
    transition: all 0.2s linear;
    .adminsidebarwrapper{
        position: fixed;
        width: 17%;
        top: 0;
        left: 0;
        height: 100vh;
        background-color: var(--blue-backgrounds);
    }

    .logo{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding:30px 0 0 30px;
        color: var(--white-text-color);

        color: #FFF;
        font-family: 'Raleway', sans-serif;
        font-size: 15.426px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        
        text-decoration: none;
        span{
            margin-left: 12px;
        }
    }
    .SidebarBox{
        width: 100%;
        margin-top: 62px;
        height: auto;
        display: flex;
        flex-direction: column;
        position: relative;
        a{
            position: relative;
            z-index: 2;
            display: flex;
            flex-direction: row;
            color: var(--white-text-color);
            text-decoration: none;
            align-items:center;

            padding-left: 30px;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            height: 56px;
            letter-spacing: 0.36px;
            svg{
                margin-right: 21px;
            }
           
        }
        
    }
    .sideHome:hover ~ .Sidebarposp{
        top: 0;
    }
    .sideins:hover ~ .Sidebarpos{
        top: 56px !important;

    }
    .sideStu:hover ~ .Sidebarpos{
        top: 112px !important;

    }
    .sidedoc:hover ~ .Sidebarpos{
        top: 168px !important;
    }

.sideExit:hover{
    background-color: #dde2ff4b;
    cursor: pointer;
}

    .sideHome:focus ~ .Sidebarposp{
        top: 0;
    }
    .sideins:focus ~ .Sidebarpos{
        top: 56px !important;

    }
    .sideStu:focus ~ .Sidebarpos{
        top: 112px !important;

    }
    .sidedoc:focus ~ .Sidebarpos{
        top: 168px !important;
    }
 
    
    .Sidebarpos{
        width: 100%;
        position: absolute;
        transition: all 0.5s;
        top: 0;
        background: rgba(250, 253, 255, 0.05);
        height: 56px;
        z-index: 0;
        .sidebarpos_inner{
            height: 100%;
            width: 6px;
            background-color: #DDE2FF;
            
        }
    }
    .StudentSideBar .SidebarBox a svg{
        width: 30px !important;
        height: 30% !important;
    }

}
.SidebarLinks{
    border: none;   
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: row;
    color: var(--white-text-color);
    text-decoration: none;
    align-items:center;

    padding-left: 30px;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    height: 56px;
    letter-spacing: 0.36px;
    svg{
        margin-right: 21px;
    }
    background-color: transparent;
}
@media screen and (max-width:1272px) {
    .kattatext{
        font-size: 14px !important;
        font-weight: 600;
    }
}
@media screen and (max-width:1150px) {
    .kattatext{
        font-size: 12px !important;
        font-weight: 600;
    }
  
    .AdminSideBar{
        width: 20% !important;
    }
    .adminsidebarwrapper{
        position: fixed;
        width: 20% !important;
        top: 0;
        left: 0;
        height: 100vh;
        background-color: var(--blue-backgrounds);
    }
    .adminsidebarwrapper{
        position: fixed;
        width: 18% !important;
        top: 0;
        left: 0;
        height: 100vh;
        background-color: var(--blue-backgrounds);
    }
}
@media screen and (max-width:1050px) {
    .logo{
        padding:30px 0 0 25px !important;
        span{
            display: none !important;
        }
    }
    .SidebarLinks{

        span{
            display: none !important;
        }
    }
    .AdminSideBar{
        width: 10% !important;
    }

    .adminsidebarwrapper{
        position: fixed;
        width: 9% !important;
        top: 0;
        left: 0;
        height: 100vh;
        background-color: var(--blue-backgrounds);
    }
    
}
@media screen and (max-width:880px) {
    .logo{
        padding:30px 0 0 25px !important;
        span{
            display: none !important;
        }
    }
    .SidebarLinks{

        span{
            display: none !important;
        }
    }
    .AdminSideBar{
        width: 12% !important;
    }

    .adminsidebarwrapper{
        position: fixed;
        width: 10% !important;
        top: 0;
        left: 0;
        height: 100vh;
        background-color: var(--blue-backgrounds);
    }
    
}


@media screen and (max-width:880px) {
    .logo{
        padding:30px 0 0 25px !important;
        span{
            display: none !important;
        }
    }
    .SidebarLinks{

        span{
            display: none !important;
        }
    }
    .AdminSideBar{
        width: 15% !important;
    }

    .adminsidebarwrapper{
        position: fixed;
        width: 13% !important;
        top: 0;
        left: 0;
        height: 100vh;
        background-color: var(--blue-backgrounds);
    }
    
}
@media screen and (max-width:558px) {
    .logo{
        padding:30px 0 0 25px !important;
        span{
            display: none !important;
        }
    }
    .SidebarLinks{

        span{
            display: none !important;
        }
    }
    .AdminSideBar{
        width: 20% !important;
    }

    .adminsidebarwrapper{
        position: fixed;
        width: 17% !important;
        top: 0;
        left: 0;
        height: 100vh;
        background-color: var(--blue-backgrounds);
    }
    
}
