.home__hero-inner-icons-comments-icons {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.home__hero-inner-icons-comments-icons {
    cursor: pointer;
}

.home__hero-inner-comments-p {
    color: #000;
    font-family: Raleway;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 50px;
}

.home__hero-inner-icons-comments-icons .icons svg {
    border-radius: 10px;
    background: #D1DCE0;
}

.home__hero-inner-icons1 {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.home__hero-inner-icons {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;

}

.home__hero-inner-icons1 .icons {
    padding: 30px;
}

.home__hero-inner-icons .icons {
    padding: 30px;
}


.home__hero-inner-icons2 {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    margin: 40px;
    margin-right: 90px;
}

.home__hero-inner-icons2 .icons-straight1 {
    margin-right: 80px;

}

.hero-inner-icons-icon-svg {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background: #D1DCE0;
    width: 180.133px;
    height: 180px;
    flex-shrink: 0;
}

.icons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icons p {
    color: rgba(0, 0, 0, 0.75);
    text-align: center;
    font-family: Raleway;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}