.home__hero-inner-subjects-subjects {
    display: flex;
    flex-wrap: wrap;
}

.home__hero-inner-subjects-subjects img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    position: relative;
    top: 0;
    object-fit: cover;
}

.home__hero-inner-subjects .subject-p {
    color: #000;
    font-family: Raleway;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 50px;

}

.subject-images {
    width: 30%;
    height: 200px;
    margin: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}

.subject-images p {
    position: absolute;
    color: #FFF;
    font-family: Raleway;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.subject-images .subject-images-bcg {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000D7F66;
    border-radius: 9px;
}